pkgbase = streamtop-bin
pkgname = streamtop-bin
pkgver = 0.3.4
pkgrel = 1
pkgdesc = HLS/DASH/IPTV stream diagnostics in the terminal
url = https://github.com/Jorji49/streamtop
arch = x86_64
license = MIT
provides = streamtop
conflicts = streamtop
source = streamtop-bin-0.3.4.tar.gz::https://github.com/Jorji49/streamtop/releases/download/v0.3.4/streamtop-x86_64-unknown-linux-gnu.tar.gz
source = LICENSE::https://raw.githubusercontent.com/Jorji49/streamtop/v0.3.4/LICENSE
sha256sums = 0e1140ec9bd0fd3e627d51470b664506c172a5e98f78df1483cf3b5849358e2a
sha256sums = SKIP

pkgname = streamtop-bin
